.formulario-content {
    --background: rgba(255, 192, 203, 0.8); /* Fondo rosado transparente */
  }
  
  ion-item {
    --ion-text-color: black; /* Color de texto negro */
  }
  
  .toggle-button {
    margin-top: 20px;
    background-color: rgba(255, 192, 203, 0.5); 

  }
  
  .formulario {
    display: none;
    padding: 10px;
    background-color: rgba(255, 192, 203, 0.8);
  }
  
  .show-form {
    display: block;
  }
  